@charset "UTF-O8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap');

:root {
  --fonte1: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
background-image: linear-gradient(#020202,#040D10, #0A1B23, #040D10,#020202);
height: 605px;

}

.simplebanner > img {
  position: absolute;
  width: 1440px;
  height: 605px;
  left: 0px;
  opacity: 0.5;
 
}
.banner-content {
  padding-top: 83px;
  text-align: center;
  width: 500px;
  margin-left: auto; margin-right: auto;
  
}

.logo {
  background-image: linear-gradient(#03090B, #07141A, #0A1C24);
  margin-left: auto; margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
}

.banner-content > h1 {
  background-image: linear-gradient(#1A7DBE,#2D9CD3);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-family: var(--fonte1);
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  margin-top: 43;
  margin-bottom: 16px;
}

.banner-content > p {
  width: 500px;
  height: 46px;
  font-family: var(--fonte1);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

}

button{
  position: relative;
}

.btn-1 {
  margin-top: 60px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient( #3BA1CD, #1572B7);
  background-color:#081217 ;
  color:  #31A8DD;
  font-family: var(--fonte1);
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  width: 326px;
  height: 57px;
  padding: 19px, 46px, 19px, 46px;
  text-align: center;
  letter-spacing: 0.21em;
  
  
  
}

.btn-1:hover {
  background-color: white;
  cursor: pointer;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541);
}

main {
  background-color: black;
}

#course-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  
}

#course-content > h2 {
  background-image: linear-gradient(#1A7DBE,#2D9CD3);
  background-clip: text;
  text-align: center;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-family: var(--fonte1);
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 43;
  margin-bottom: 16px;
  letter-spacing: 0.19em;
 
}

#course-content > p {
  width: 792px;
  height: 38px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.module > span {
  color: #33A8DB;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}

.module {
  width: 535px;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 127px;
  gap: 10px;
  margin-bottom: 24px;
  background: #252525;
  border: 1px solid #33A8DB;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
  border-radius: 57px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.module:hover{
  cursor: pointer;
  background-color:#3d3d3d;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
}
#transform-world {
  background: url(../imagens/woman-code.png);
  width: 100vw;
  height: 400px;
  background-position: center;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541);
  background-size: cover;
  background-attachment: fixed;  
  padding: 10% 10px 10px 10%;
}

#transform-world > p {
  
  color: white;
  text-shadow: 3px 2px 0px #33A8DB;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  width: 244px;
  height: 141px;
  left: 0px;
  top: 0px;
}

#professional-challenges {
  text-align: center;
  padding: 5%;
}

#professional-challenges > img{
  width: 659px;
  height: 429px;
  margin-top: 32px;
  margin-bottom:40px ;
}

#professional-challenges > h2{
  width: 746px;
  height: 76px;
  margin: auto;
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.19em;
  color: #33A8DB;
}

#professional-challenges > p{
  width: 792px;
  height: 76px;
  margin: auto;
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  
}

footer {
background-image: linear-gradient(#020202,#030A0D,#0A212B);
width: 100vw;
height: 170px;


}

.dio-logo {
  display: block;
  padding-top: 2.5%;
  margin-left: auto; margin-right: auto;
  
}

footer > p {
  width: 259px;
  height: 19px;
  margin: auto;
  left: 591px;
  top: 113px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

footer > p > a {
text-decoration: none;
color: #FFFFFF;

}

